@import "./Header.css";
@import "./Footer.css";
@import "./MainCSS.css";

body {
  background-color: #cffffe
}

.container {
  display: grid;
  grid-template-areas: "hd hd hd hd hd hd"
  "main main main main main main"
  "ft ft ft ft ft ft";
  margin: 15px;
  grid-gap:15px 0;
}
/* For tablet users */
@media screen and (min-width: 701px) and (max-width: 1050px) {
    .main {
        grid-template-columns: 300px;
    }

    .header {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
    }

}

/* For mobile users */
@media screen and (max-width: 700px) {
    .main {
        grid-template-columns: 300px;
    }

    .header {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
    }
}
